@model Project_64132989.Models.Views.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Quên mật khẩu</h3>
    <p>
        Để khôi phục tài khoản, bạn cần nhập chính xác địa chỉ email của mình vào ô yêu cầu. <br />
        Sau khi điền xong, nhấn nút "Gửi yêu cầu xác thực". <br />
        Hệ thống sẽ gửi một email xác nhận đến hộp thư của bạn. Kiểm tra email và làm theo hướng dẫn để hoàn tất quá trình khôi phục. <br />
        <b>Lưu ý:</b> Đảm bảo địa chỉ email chính xác và kiểm tra cả thư mục Spam nếu không thấy email.
    <p />

    @using (Html.BeginForm("ForgotPassword", "Portal64132989", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
            @TempData["ErrorMessage"]
        </div>

        <button type="submit" class="btn btn-primary mt-3">Gửi yêu cầu xác thực</button>
    }
</div>