@model Project_64132989.Models.Views.ResetPasswordViewModel

@{
    ViewBag.Title = "Đặt lại mật khẩu";
}

<div class="container">
    <h3>Đặt lại mật khẩu</h3>

    @if (TempData["ErrorMessage"] != null)
    {
        <p class="alert alert-danger mt-3">
            @TempData["ErrorMessage"]
        </p>
    }
    else
    {
        <p class="alert alert-success mt-3">
            Xác thực thành công <br />
            Để đặt lại mật khẩu, hãy nhập mật khẩu mới và xác nhận.
        </p>

        using (Html.BeginForm("ResetPassword", "Portal64132989", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.Token)

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "form-label" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-danger" })
            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-primary mt-3"><i class="bi bi-floppy me-2"></i> Đặt lại mật khẩu</button>
        }
    }
</div>
