@model IEnumerable<Project_64132989.Models.Data.CourseOffering>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Students/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cours.course_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.room_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester.semester_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.department_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.max_capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.course_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.room_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester.semester_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.department_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.max_capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.offering_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.offering_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.offering_id })
        </td>
    </tr>
}

</table>
