@model Project_64132989.Models.Data.Cours

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/TrainingOfficer/Views/Shared/_Layout.cshtml";
}



<h2>Details</h2>

<div>
    <h4>Cours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cours1.course_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours1.course_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.department_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.department_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.credits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.course_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
