@model Project_64132989.Models.Data.Profile

@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = Html.DisplayFor(model => model.user_id);
}

<div class="container">
    <div class="card custom-shadow p-4">
        <div class="row">
            <div class="col-12 col-md-2 d-flex justify-content-center">
                <img src="@(string.IsNullOrEmpty(Model.avatar_path) ? "/Assets/anh.jpg" : Model.avatar_path)"
                     class="rounded-circle"
                     style="width: 7rem; height: 7rem; object-fit: cover;" />
            </div>
            <div class="col-12 col-md-10 mt-3 mt-md-0 d-flex align-items-md-center">
                <div class="text-center text-md-start w-100">
                    <h3 class="mb-1">@Html.DisplayFor(model => model.last_name) @Html.DisplayFor(model => model.first_name)</h3>
                    <h6 class="text-muted">@Html.DisplayFor(model => model.User.email)</h6>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs mt-4">
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")"
               href="@Url.Action("Index", "Profiles64132989")">
                <i class="bi bi-info-circle me-2"></i> Thông tin cá nhân
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Edit" ? "active" : "")"
               href="@Url.Action("Edit", "Profiles64132989")">
                <i class="bi bi-pencil-square me-2"></i> Thay đổi thông tin cá nhân
            </a>
        </li>
    </ul>


    <dl class="row mt-3">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.date_of_birth)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.date_of_birth)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class="col-sm-9">
            @(Model.gender == 0 ? "Nam" : "Nữ")
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.phone_number)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.address)
        </dd>
    </dl>

</div>
