@model Project_64132989.Models.Data.AdminClass

@{
    ViewBag.Title = "Chi tiết lớp hành chính";
    Layout = "~/Areas/TrainingOfficer/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink(" ", "Index", null, new { @class = "btn custom-btn bi bi-arrow-left fs-6" })
</p>

<h3 class="my-4">@Html.DisplayFor(Model => Model.class_name)</h3>

<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="@Url.Action("Details", "AdminClasses64132989", new { id = Model.class_id })">Chi tiết lớp hành chính</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("GetStudentList", "AdminClasses64132989", new { classId = Model.class_id })">Danh sách lớp hành chính</a>
    </li>
</ul>


<table class="table">
    <tbody>
        <tr>
            <th scope="row">@Html.DisplayNameFor(Model => Model.class_id)</th>
            <td>@Html.DisplayFor(Model => Model.class_id)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(Model => Model.class_name)</th>
            <td>@Html.DisplayFor(Model => Model.class_name)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(Model => Model.Department.department_name)</th>
            <td>@Html.DisplayFor(Model => Model.Department.department_name)</td>
        </tr>
        <tr>
            <th scope="row">Giáo viên cố vấn</th>
            <td>@ViewBag.TeacherName</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(Model => Model.status)</th>
            <td>
                @if (Model.status == 1)
                {
                    <span class="badge bg-success">Hoạt động</span>
                }
                else
                {
                    <span class="badge bg-danger">Không hoạt động</span>
                }
            </td>
        </tr>
    </tbody>
</table>

   