@model IEnumerable<Project_64132989.Models.Data.StudentCourseRegistration>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Students/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseOffering.course_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.program_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registration_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseOffering.course_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.program_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registration_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.registration_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.registration_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.registration_id })
        </td>
    </tr>
}

</table>
