@model IEnumerable<Project_64132989.Models.Data.Semester>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/TrainingOfficer/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.semester_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registration_start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registration_end_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.academic_year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.semester_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registration_start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registration_end_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.academic_year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.semester_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.semester_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.semester_id })
        </td>
    </tr>
}

</table>
